#container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 8fr 4fr;
    row-gap: 1vh;
    column-gap: 1vh;
}

#header,
#lunchText,
#images,
#footer {
    position: relative;
}

#lunchText {
    font-size: 188%;
}

#header {
    height: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 2.5em;
}

#text {
    margin-top: 0;
    font-size: 9vw;
}

#icon1,
#text,
#icon2 {
    position: relative;
}

#footer {
    text-align: justify;
    flex: 1;
    font-size: 1.1em;
    font-weight: 50;
    line-height: 1.7;
}

.setWidthAndHeight {
    height: 10vw;
    width: 10 vw;
}

.setImageToTopRight {
    float: right;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1vw;
    column-gap: 1vw;
}

.img {
    position: relative;
    width: 100%;
    height: 100%;
}